name: 02 - Workflow Events
on: 
  pull_request:
  workflow_dispatch:    

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: Show the trigger
              run: echo "the following ${{github.event_name}} event has been triggered."

