name: 05 - 1 - Event Filters and Activity

on:
    workflow_dispatch:

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
          - name: print message  
            run: "Running whenever a PR is opened or synchronized AND base branch is main."