name: 05 - 2 - Event Filters and Activity

on:
    pull_request:
        types: [closed]
        branches:
            - 'main'

jobs:
    
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: log
              run: echo "Running whenever PR is closed"